@charset "UTF-8";
/* CSS Document */

body {
	background-color: #fff;
	font-family: 'Times', medium, black;
}

h1 {
	color: #3C3C3C;
}

.aboutMe {
	width: 50%;
	float: left;
	word-wrap: normal;
}

#me {
	float: right;
	width: 40%;
	margin-left: 5%;
	margin-bottom: 5%;
	max-width: 440px;
	display: block;
}

#mainTable {
	clear: left;
	width: 95%;
}

table p {
	font-size: small;
}

.tableImgs {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20px;
	margin-top: 10px;
	display: block;
}

.tableCell {
	
}

td {
	width: 50%;
	color: #3C3C3C;
	vertical-align: top;
	padding: 3px;
}

#courseTable {
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 15px;
	text-align: left;
}

#courseTable tr {
	border: 2px solid black;
}

#courseTable th {
	background-color: #fff;
	border: 2px solid black;
}

#courseTable td {
	border: 2px solid black;
}

#courseTable tr:nth-child(even) {
	background-color: #cccccc;
	
}

#courseTable tr:nth-child(odd) {
	background-color: #006699;
}

#courseTable td:nth-child(1), td:nth-child(3) {
	text-align: center;
}

#courseTable tr:hover {
	background-color: #996699;
	
}

#test {
	margin-top: 35px;
	width: 100%;
	clear: both;
}

.links a {
	margin: 5px;
}

.best {
	font-style: italic;
}

